.blueTheme {
    background-color:rgba(6, 139, 228, 0.856);
    color: white;
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
}

.redTheme {
    background-color: rgba(248, 61, 98, 0.829);
    color: white;
}

.marginRight {
    margin-right: 25pt;
    box-shadow: 10px 10px 5px rgb(149, 148, 148);
}